<%- include('components/header', { titulo: titulo }) %>
    <div class="alert alert-danger">
        <h4>
            <%= titulo %>
        </h4>
        <p class="mb-0">
            <%= mensaje %>
        </p>
    </div>
    <a href="/dashboard" class="btn btn-primary">Volver</a>
    <%- include('components/footer') %>